@charset "utf-8";
/* CSS Document */
body{font-family: "微软雅黑";font-size: 16px;color: #333;}
img{vertical-align: middle;}
.warp{width: 1200px;margin: auto;}
h1 img{width: 50px;height: auto;}
.fhtop{position: fixed;right: 20px;bottom: 40px;}

nav{height: 50px;margin-top: 40px;position: absolute;top: 0;left: 50%;margin-left: -600px;}
.nav_in h1{line-height: 50px;float: left;}
.nav_in ul{float: right;background: #fff;padding: 5px;}
.nav_in ul li{width: 130px;height: 50px;text-align: center;line-height: 50px;float: left;cursor: pointer;}
.nav_in ul li.cur{font-weight: bold;font-size: 20px;}
.beijin{height: 1080px;background: url(../image/firstbg.jpg) no-repeat center center;overflow: hidden;}

.about{background: #fbfbfb;}
.about_in{height: 780px;overflow: hidden;position: relative;}
.about_in .cet{overflow: hidden;}
.about_in .top{height: 80px;margin-top: 80px;text-align: center;line-height: 80px;}
.about_in .left{width: 300px;height: 520px;margin-top: 70px;float: left;margin-left:50px;}
.about_in .right{width: 470px;height: 300px;float: right;margin-top: 85px;margin-right: 50px;}
.about_in h3{text-align: left;font-size: 40px;line-height: 38px;color: #333;}
.about_in .top{height: 80px;margin-top: 80px;text-align: center;position: relative;} 
.about_in .top h2{font-size: 42px;position: absolute;left: 50%;top: 5px;margin-left: -85px;background: url(../image/sep.png) no-repeat center 74px;background-size: 50px 3px}
.about_in .center {line-height: 40px;margin-top: 10px;height: 130px;width: 100%;border-bottom: 1px solid #eee;}
.about_in .one span{color: #5f5f5f;} 
.about_in .one{float: left;width: 150px;display: inline-block;}

.about_in .two span{color: #5f5f5f;} 
.about_in .two{float: left;width: 150px;display: inline-block;}
.about_in .three span{color: #5f5f5f;} 
.about_in .three{float: left;}
.about_in .down{line-height: 30px;}
.about_in .btn{width: 780px;height: 121px;margin-left: 300px;position: absolute;right: 0;bottom: 0;}

.banner{height: 830px;overflow: hidden;}
.banner .top{height: 80px;margin-top: 80px;text-align: center;position: relative;}
.banner .top h2{font-size: 42px;position: absolute;left: 50%;top: 12px;margin-left: -85px;}
.banner_in{height: 830px;}
.banner_in .center{width: 1080px;height: 490px;background: #fff;margin-left: 60px;margin-top: 80px;overflow: hidden;}
.banner_in .center .swiper-container {width: 1000px; height: 400px;margin-top: 45px;margin-left: 40px;box-shadow: 0 0 30px rgba(0,0,0,0.1);}

.web{height: 885px;overflow: hidden;}
.web_in .top{height: 80px;margin-top: 80px;text-align: center;position: relative;}
.web_in .top h2{font-size: 42px;position: absolute;left: 50%;top: 12px;margin-left: -125px;}
.web_in{position: relative;}
.web_in  .mian{height: 590px;margin-top: 80px;overflow: hidden;width: 1200px;}
.web_in  .mian .left li{width: 636px;height: 396px;margin-top: 100px;margin-left: 60px;float: left;display: none;cursor: pointer;}
.web_in  .mian .left li.xianshi{display: block;}
.web_in .mian .swiper-container {width: 636px; height: 396px;}
.web_in .bjb {position: absolute;left: -48px;top: 230px;}

.web_in  .mian .right{margin-top: 220px;font-size: 36px;float: right;}
.web_in  .mian .right li{width: 280px;height: 70px;border: 2px solid #333;margin-bottom: 95px;text-align: center;color: #333;line-height: 70px;cursor: pointer;}
.web_in  .mian .right li.cur{background: #333;color: #fff;}

.screen04 {width: 100%;height: 765px;background: #f3f3f3;}
.icon {height: 715px;overflow: hidden;position: relative;}
.icon .h3 {width: 794px;margin: 50px auto 0;}
.icon>img:nth-of-type(1) {position: absolute;left: -257px;top: 140px;opacity: 0.5;animation: cloud01 10s linear infinite;}
.icon>img:nth-of-type(2) {position: absolute;left: -165px;top: 475px;opacity: 0.2;animation: cloud02 11s linear infinite;}
.icon>img:nth-of-type(3) {position: absolute;right: 25px;top: 65px;opacity: 0.6;animation: cloud03 12s linear infinite;}
.icon>img:nth-of-type(4) {position: absolute;right: -218px;top: 525px;opacity: 0.45;animation: cloud04 14s linear infinite;}
@keyframes cloud01 {
 0% {
left:-257px
}
 100% {
left:1455px
}
}
@keyframes cloud02 {
 0% {
left:-165px
}
 100% {
left:1455px
}
}
@keyframes cloud03 {
 0% {
right:25px;
}
 100% {
right:1395px
}
}
@keyframes cloud04 {
 0% {
right:-218px;
}
 100% {
right:1395px;
}
}
.slipe {width: 895px;height: 425px;margin: 100px auto;overflow: hidden;padding: 16px;box-sizing: border-box;}
.slipe_in {width: 9999px;height: 397px;}
.slipe_in li {width: 397px;height: 397px;border-radius: 28px;float: left;box-shadow: 0 0 16px rgba(0,0,0,0.28);margin-right: 72px;overflow: hidden;background: #f5f5f5;}
.icon .left {width: 47px;height: 83px;position: absolute;left: 20px;bottom: 200px;cursor: pointer;font-size: 46px;font-family: "黑体";}
.icon .right {width: 47px;height: 83px;position: absolute;right: 20px;bottom: 200px;cursor: pointer;font-size: 46px;font-family: "黑体";}

.screen04 .top{height: 80px;margin-top: 80px;text-align: center;position: relative;}
.screen04 .top h2{font-size: 42px;position: absolute;left: 50%;top: 12px;margin-left: -125px;}


#app{height: 1050px; margin-top: 80px;}
.app_all{width: 1200px; height: 810px;margin-top: 120px; position: relative;}
.app_all .txt{position: absolute;width:418px; height: 405px; right:-206px; top: 141px; font-size: 48px; color:#fff; line-height: 30px; font-weight: bold; background:#cccfd8;  text-align: center;}
.app_all .ol{position: absolute;width:418px; height: 405px; right:-83px; top: 21px;  background:#f5f5f5;  text-align: center;}
.app_all .txt .cur{color:#595A5B;}
.app_all .txt  li{cursor: pointer; margin-top: 107px;}
.app_bo{width: 350px; height: 623px; padding:20px; border-radius:10px;  position: relative; margin:0 auto; display: none; color: #fff;z-index: 99999999;}
.app_bo.active{display: block; }
.app_bo .title{position: absolute; left: -405px; top: 50%;  width: 399px; height: 405px; background:#cccfd8;text-align: center; line-height: 405px; font-size:48px;}
.app_bo .title li{display: none; }
.app_bo .title .cur{display: block; font-size: 48px; font-weight: bold;}
.app_in{width: 350px; height: 623px; overflow: hidden;}
.app_in li{overflow: hidden;}
.app_in ul{width: 9999px;}
.app_in ul li{float: left;}



#app .right{width:330px; height: 448px; background: #cccfd8; margin-top: 447px; border-right: 133px solid #E2E5EC; float: left; position:relative; }
#app .left p{ font-size:75px; color:rgba(255,255,255,1.00);}
#app .right .h3{ font-size:80px;  color:rgba(255,255,255,1.00); position: absolute; right: 21px; top: 40px; background: none;cursor: pointer;}
#app .right .h2{ font-size:80px; color:rgba(255,255,255,1.00); position: absolute; left: 179px; top: 160px; cursor: pointer; }
#app .right .p{ font-size:80px; color:rgba(255,255,255,1.00); position: absolute; left:115px; top: 287px; background: none;cursor: pointer;}
#app .iphone{position: absolute;top: -71px;left: 50%;margin-left: -203px;z-index: 999999;}

#app .top{height: 80px;margin-top: 80px;text-align: center;position: relative;}
#app .top h2{font-size: 42px;position: absolute;left: 50%;top: 12px;margin-left: -125px;}


.content{height: 650px;background: #f5f5f5;overflow: hidden;}
.content .top{height: 80px;margin-top: 80px;text-align: center;position: relative;}
.content .top h2{font-size: 42px;position: absolute;left: 50%;top: 12px;margin-left: -100px;}
.content_in .neirong{width: 1000px;height: 200px;margin-left: 100px;margin-top: 150px;}

.content_in .neirong{font-size: 26px;text-align: center;}
.content_in .neirong div {width: 333px;float: left;height: 123px;}
.content_in .neirong p{margin-top: 60px;}
.content_in .neirong .left p{margin-top: 66px;}
.content_in .neirong  .center p{margin-top: 70px;}
.top h2{font-size: 42px;position: absolute;left: 50%;top: 5px;margin-left: -85px;background: url(../image/sep.png) no-repeat center 74px;background-size: 50px 3px;padding-bottom: 22px;}

.swiper-button-next, .swiper-button-prev{width: 24px;height: 40px;background-color: rgba(0,0,0,.2);color: hsla(0,0%,100%,.4);line-height: 40px;text-align: center;background-image:none;}
.swiper-button-next:hover, .swiper-button-prev:hover{background-color: rgba(0,0,0,.5);    color: hsla(0,0%,100%,.4);}    
.swiper-button-prev:after{ content:"<";font-size: 20px;font-family: "黑体";color: #fff;}
.swiper-button-next:after{ content:">";font-size: 20px;font-family: "黑体";color: #fff;}
.swiper-pagination-bullet-active{background: #fff;} 
.icon .left,.icon .right{background-color: rgba(0,0,0,.2);color: #fff;text-align: center;line-height: 83px;}
.icon .left:hover,.icon .right:hover{background-color: rgba(0,0,0,.5); color: #fff;}

.content_in .neirong .left:hover img,.content_in .neirong .right:hover img,.content_in .neirong .center:hover img{ transform: scale(1.2,1.2)}


#wrapper{margin: 0 auto;width: 480px;}
#toTop {display: none;text-decoration: none;position: fixed;bottom: 40px;right: 20px;overflow: hidden;width: 64px;height: 64px;border: none;text-indent: 100%;background: url(../image/top.png) no-repeat ;text-align: center;}


