<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="keywords" content="爱家,照明,灯具"/>
<title>爱家</title>
<link rel="stylesheet" type="text/css" href="css/cssreset.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="shortcut icon" href="images/favicon-.ico">
</head>

<body>
<!--头部工具区-->
<div class="topbar wrap">
	<h1 class="left">
    	<a href="#"><img src="images/logo.jpg" width="283" height="54" alt=""/></a>
    </h1>
    <div class="right">
            <input id="tipbar_txt" type="text" class="search" value="请输入搜索内容">
            <button>搜索</button>
    </div>
</div>
<!--头部导航-->
<header class="header">
  <div class="header_in wrap">
    	<ul id="ul">
        	<li><a href="index.html">首页</a>
            </li>
        	<li id="li02"><a href="#">关于我们</a>
            	<ul id="ul02">
            		<li><a herf="#">荣誉认证</a></li>
            		<li><a href="#">组织架构</a></li>
            		<li><a href="#">发展历程</a></li>
            		<li><a href="#">企业文化</a></li>
            		<li><a href="#">公司简介</a></li>
            		<li><a href="#">门店展示</a></li>
            	</ul>
            </li>
        	<li class="cur" id="li03"><a href="#">新闻中心</a>
                <ul id="ul03">
            		<li><a herf="#">行业新闻</a></li>
            		<li><a href="#">公司新闻</a></li>
            		<li><a href="#">市场营销</a></li>
            		<li><a href="#">商学院新闻</a></li>
            	</ul>
            </li>
        	<li id="li04"><a href="#">工程案例</a>
            	<ul id="ul04">
            		<li><a herf="#">最新案列</a></li>
            		<li><a href="#">亮化工程</a></li>
            		<li><a href="#">室内照明</a></li>
            		<li><a href="#">商业照明</a></li>
            	</ul>
            </li>
        	<li id="li05"><a href="#">产品世界</a>
            	<ul id="ul05">
            		<li><a herf="#">爱家·照明</a></li>
            		<li><a href="#">爱家·玩美</a></li>
            		<li><a href="#">爱家·光电</a></li>
            		<li><a href="#">爱家·浩迪</a></li>
            		<li><a href="#">东方·欧弗洛</a></li>
            		<li><a href="#">爱家·爱的家</a></li>
            	</ul>
            </li>
        	<li id="li06"><a href="#">诚聘英才</a>
            	<ul id="ul06">
            		<li><a herf="#">人才理念</a></li>
            		<li><a href="#">最新职位</a></li>
            		<li><a href="#">培训与发展</a></li>
            	</ul>
            </li>
        	<li><a href="#">联系我们</a></li>
    	</ul>
<!--        <div class="line"></div>
-->    </div>
</header>
<!--banner-->
<div class="bannerall">
	<figure class="banner" id="app1" @mouseover="stop()" @mouseout="play()">
        <ul v-bind:style="{width:100*imgs.length+'%',left:-active*100+'%'}">
            <li v-bind:style="{width:1/imgs.length*100+'%'}" 
                v-for="(item,index) in imgs">
                <img v-bind:src="item"/>
        </ul>
        <ol>
            <li v-for="(item,index) in imgs" 
                v-bind:class="{cur:index==active}"
                @click="qie(index)"
            ></li>
        </ol>
        <span class="left" @click="left()"></span>
        <span class="right" @click="right()"></span>
    </figure>
</div>

<!--news list-->
<!--breadnav-->
<div class="news_detail wrap">
	<div class="breadnav">
        您所在的位置:  &nbsp;&nbsp;&nbsp;&nbsp;<a href="#">首页</a> &gt; <a href="#">新闻中心</a> &gt; <a href="#">公司新闻</a> &gt; <a href="#">新闻详情</a> &gt;
    </div>
    <h2>新闻中心</h2>
    <div class="up">
    	<div class="left">
        	<ul>
        		<li class="cur">
                    <a href="javascript:;">公司新闻</a>
                    <span></span>
                </li>
        		<li>
                    <a href="javascript:;">行业新闻	</a>
                    <span></span>
                </li>
        		<li>
                    <a href="javascript:;">市场营销</a>
                    <span></span>
                </li>
        		<li>
                    <a href="javascript:;">商学院新闻</a>
                    <span></span>
                </li>
        	</ul>
        </div>
    	<div class="right">
        	<h3>详细信息</h3>   
            <dl>
            	<dt>传统产业淘汰OR升级 古镇如何抉择？</dt>
            	<dd>点击：648　添加时间：2018-7-7 11:40:00　信息来源：</dd>
            </dl>
            <div>
               <p> 随着经济的转型升级，传统的产业已渐渐不能适应新的环境，面临着淘汰或是转型升级的抉择，作为LED照明产业之都的中山、古镇又该如何抉择？</p>
                    <b>中山之问</b>
                    <p>创新命题“一镇一业”、“一村一品”曾是珠三角地区专业镇经济发展的生动写照。然而经过30多年的发展，“镇域格局”下的传统产业集群难以实现对高端产业资源的配置，自主品牌缺乏、产业集聚程度较低、区域产业雷同等已经成为制约当地经济发展的难题。</p>
                    <p>作为全省专业镇经济密度最高的城市，以专业镇经济起家的中山，依托成熟的上下游分工，多年来聚集了大批传统产业集群。目前，全市专业镇生产总值占比达72%，贡献税收达65%。中山如何推动专业镇实现“二次创业”，让专业镇再度扛起“创新大旗”?</p>
                    <b>城市答案</b>
                    <p>在“专业镇的世界”，传统产业集群立足多以加工者的身份被动嵌入世界产业链。今年，中山明确把新型专业镇建设作为实施创新驱动的主战场，并制定省内首个系统化的新型专业镇创新驱动方案。</p>
                    <p>为破除创新困境，当前中山正在加快迈向“世界的专业镇”，加快融入国际创新链的步伐。即对外紧抓深中同城与佛中同城契机，对内打破“一镇一品”的镇域格局，主动链接全球创新要素，立足产业链高端构建创新产业集群，推动专业镇升级为创新镇。</p>
                    <p>简单粉刷的白色墙体、略带锈迹的老式窗户……在外人眼里，这里只是中山市横栏镇一间不起眼的旧厂房。但在中山造明公社创始人石勇军的眼中，却是 难得的办公场所。在窗户外围添上鲜艳的装饰框，引入咖啡馆、餐吧等配套，一个占地12000平方米的园林式办公区域就跃于眼前。</p>
                    <p>石勇军原是深圳照明公社合作人之一，公司主要专注“互联网+智能照明”领域。经过与横栏镇政府多次洽谈，并与厂房业主进行3个多月、10多轮沟通之后，造明公社与横栏镇签署合作协议，将在此打造中国照明灯饰行业首家创客空间。</p>
                    <p>创办规模相同的创客空间，在深圳所需的成本要比中山高出8倍左右。但节约成本并非石勇军进驻横栏的主要目的。沉淀多年的中山北部千亿灯饰产业带，链接深圳后可能产生的巨大市场空间，才是他跨市创业的目的。</p>
                    <p>在中山专业镇迫切需要突破创新困境的当下，造明公社的运作模式颇具示范效应：依托扎实的产业基础，引入全球创新要素构建创新产业集群，推动专业镇以新姿态走向世界。立足于“两区四带多集群”的新布局，上述模式或将成为中山16个省级专业镇“二次创业”的新引擎。</p>
                    <b>经济转型 古镇面临升级契机</b>
                    <p>冬日午后，中山丽晶特灯饰总经理林江民坐在店中，刷着朋友圈。一则关于“11月商业照明系列指数跌破谷底”的消息，让他感到有些烦躁。</p>
                    <p>今年前11月，公司的营业额同比降幅达30%。对于这个已经在灯饰行业闯荡10余年的行家来说，当前灯饰行业的冷清并不寻常，已经超出短期市场调整的范畴。古镇商铺租金的整体下调，就是一个令人担忧的信号。</p>
                    <p>自8月开始，古镇镇最高端的灯饰商贸综合体——星光联盟大幅调低租金，负一楼和十楼的月租仅为25元/平方米。而早于星光联盟之前，古镇另一灯 饰商贸综合体东方佰盛灯饰广场已发出通知，合同期租金下调10%。琪朗灯饰古镇中心总经理魏伟明认为，或许这是古镇灯饰卖场近10年租金降幅最大的一次。</p>
                    <p>在古镇30余年的产业发展史中，商铺出租情况犹如行业的“晴雨表”。“行情好的时候，就算租金高，企业也能赚到钱。行情不好时，租金再低，企业也可能赚不到钱。”林江民坦言。</p>
                    <p>但在他的印象中，几年前专业镇的世界其实还并不“复杂”，钱很好赚：搞定货源，在较旺的地段租个门店，再在全国几个重点展会上稍作推广，就可以 坐等全球的客人上门买灯。依托这种模式，古镇灯饰一度达到全国灯饰照明行业近70%的份额，并形成以其为中心年产值超千亿元的灯饰产业集群。</p>
                    <p>然而在最近几年，这种方式不怎么奏效。从去年开始，林江民开始感到很吃力。最明显的变化是，大客户少了，身边的小作坊少了;其他城市的竞争者增多了，不少主打创新概念的企业越做越大。</p>
                    <p>一组媒体公布的数据，与林江民所感觉到的变化相吻合：2011年—2013年，古镇全镇灯饰产业产值依次为175亿元、158.1亿元以及141.1亿元。困扰产业多年的产业层次低下、无序竞争严重等创新困境，日渐凸显。</p>
                    <p>在全球经济从贸易一体化走向技术一体化、知识一体化的新阶段，专业镇的世界，正在悄然发生着变化。古镇灯饰产业面临的困境，也是当下中山其余15个专业镇的真实写照：受运营模式陈旧、创新动力不足、成本大幅上涨等因素冲击，在加工企业占比达80%的沙溪镇，服装产业一度陷入外贸加工有单不敢接、内销加工有货不敢出的尴尬境地;位于中山北部的南头、东凤镇，家电产业从承接顺德产业外溢起步，但至今仍然面临龙头企业缺乏、公共服务平台缺失、企业创新意愿不强等问题。在黄圃镇，千家企业的产值还不及格兰仕一家。</p>
                    <b>升级之路 集纳全球创新资源</b>
                    <p>最近几个月，古镇镇党委书记刘建辉当起了“推销员”，马不停蹄地向多个国家推荐“古镇灯饰”这个区域品牌。两个月前，为打造广东规模最大的灯光文化节，他力邀数十名世界顶尖设计师前来古镇;一个半月前，在他的大力推动下，古镇和南非中国商会合作共建的“古镇·南非灯饰”体验馆开业;目前他还在积极和迪拜落实“中国灯都迪拜直销基地”项目。</p>
                    <p>刘建辉所有的努力，都指向一个目标：推动古镇镇从“中国灯饰之都”升级为“世界照明产业中心”。古镇多年来建立起来的“中国灯饰之都”地位，是基于中山专业镇经济最为成熟的传统产业集群模式。强大的组织生产能力、完善的生产链管理，是其参与世界产业分工的立足点。服装之于沙溪镇、红木之于大涌镇、家电之于南头镇，均是如此。</p>
                    <p>这种成熟的生产链，一直令专业镇的主政者和企业家颇为自豪。黄圃镇副镇长辛孝群就曾表示：“在黄圃，生产小家电所需的零部件，小到螺丝螺帽、大 到整机外壳，都可以足不出镇找到供应商。”然而，依托简单产业分工而聚集起的产业集群模式，在全球产业链加速重构的坐标体系中，已然难以成为中山专业镇的 突围动力。</p>
                    <p>在刘建辉看来，要迈向“世界照明产业中心”，古镇灯饰产业必须广纳全球创新资源，在研发、设计、销售等领域于全球产业链中抢占话语权，跳出“专业镇的世界”迈向“世界的专业镇”。当前，古镇这种转型思路也出现在中山其它专业镇的探索中。</p>
                    <p>中山市奥慕服饰有限公司总经理曾富华今年30岁，父辈在沙溪从事内衣生产已经有10多年。立足于家族积累多年的基础，他希望通过互联网将沙溪服装销往全球。刚刚闭幕的淘宝“双12”大战中，奥慕服饰成为首批进驻淘宝“中国质造”产业带中的一员，且取得不错战绩。</p>
                    <p>根据淘宝官方透露的数据，在“中国质造”平台上，九成消费者为85后。而在供应链的另一端，从长三角到珠三角，包括曾富华在内，越来越多“创二代”正在逐渐接手中国制造企业，他们更懂得利用互联网平台创新。
                    以奥慕服饰为代表的沙溪众多服装企业，正在试图以“互联网+”这一核心元素重构全产业链。如，沙溪拟与中国服装设计师协会共建“中国服装设计（休闲服装）创作中心”，以“众创空间”链接全球服装设计师资源，从加工环节逐渐往设计环节延伸。</p>
                    <b>承接资源 促镇域发展格局“聚变”</b>
                    <p>得益于深圳上市公司方大集团的并购，横栏镇的方大索正计划在一年半之内启动20条全自动生产线。在大幅提高生产效率的同时，一条生产线可以减少25—30名工人。在方大索正总经理罗慧驰看来，通过并购，方大集团的LED光源开发技术与索正公司的照明品牌，可以实现较好的互补。</p>
                    <p>方大索正的创新转型，正是横栏镇借深圳创新资源推动专业镇升级的典型案例。与之类似的案例，也包括前文提到的，深圳造明公社在该镇建立的创客平台。在“1+1+7”珠三角国家自主创新示范区的坐标体系中，深圳的人才、技术等创新要素正在加速外溢，为中山专业镇迈向世界提供了难得的机会，与方大索正相类似的案例在中山或将越来越多。同样为专业镇转身带来新契机的，还有11月佛山与中山签订的合作框架协议。</p>
                    <p>姚友军是广东奥马电器股份有限公司副总裁。10多年前，他与同事离开科龙前往中山南头镇一同创办奥马电器公司，如今的奥马已是国内冰箱行业的巨 头。中佛多年前就是友好邻居，而今更将成为战略伙伴。姚友军表示，利用中佛同城的机会共同分享上下游资源，中山家电产业将得以加快打开链接全球创新资源的 大门，中山北部家电产业带将加速迈向世界。</p>
                    <p>而在新一轮合作下，LED产业或将最先摘得创新合作的果实。据小榄镇镇长林伟强介绍，设在顺德的广东省科技创新中心已计划在小榄镇设立分支机构，为中山西部灯饰光源产业带提供LED新光源的研发、设计、检测服务。
                    在借力深佛创新资源的同时，一场致力于打破“镇域格局”的聚变，也在中山有序铺开。按照规划，未来中山的产业格局将实现“两区四带多集群”。其 中，“四带”包括北部五金家电产业带、西部灯饰光源产业带、中部现代服务业产业带和东部先进装备制造产业带。借此，昔日的“一镇一品”将升级为“一市一 品”。</p>
                    <p>从传统产业集群到创新产业集群，跳出“专业镇的世界”迈向“世界的专业镇”，中山专业镇已经开启“二次创业”的新征程。</p>
              </div>
        </div> 
	</div>
	<div class="down">
    	<ol>
    		<li>下一篇：</li>
    		<li><a herf ="javascript:;">LED照明海外市场形势分析</a></li>
    	</ol>
    </div>
</div>


<!--footer-->
<footer class="footer">
	<div class="footer_in wrap">
    	<div class="up">
        	<dl>
        		<dt>关于我们</dt>
        		<dd><a href="javascript:;">荣誉认证</a><span></span></dd>
        		<dd><a href="javascript:;">组织架构</a><span></span></dd>
        		<dd><a href="javascript:;">发展历程</a><span></span></dd>
        		<dd><a href="javascript:;">企业文化</a><span></span></dd>
        		<dd><a href="javascript:;">公司简介</a><span></span></dd>
        		<dd><a href="javascript:;">门店展示</a><span></span></dd>
        	</dl>
       	  <dl>
        		<dt>新闻中心</dt>
        		<dd><a href="javascript:;">行业新闻</a><span></span></dd>
        		<dd><a href="javascript:;">公司新闻</a><span></span></dd>
        		<dd><a href="javascript:;">市场营销</a><span></span></dd>
        		<dd><a href="javascript:;">商学院新闻</a><span></span></dd>
        	</dl>
       	  <dl>
        		<dt>工程案例</dt>
        		<dd><a href="javascript:;">最新案列</a><span></span></dd>
        		<dd><a href="javascript:;">亮化工程</a><span></span></dd>
        		<dd><a href="javascript:;">室内照明</a><span></span></dd>
        		<dd><a href="javascript:;">商业照明</a><span></span></dd>
        	</dl>
       	  <dl>
        		<dt>产品世界</dt>
        		<dd><a href="javascript:;">爱家·照明</a><span></span></dd>
        		<dd><a href="javascript:;">爱家·玩美</a><span></span></dd>
        		<dd><a href="javascript:;">爱家·光电</a><span></span></dd>
        		<dd><a href="javascript:;">爱家·浩迪</a><span></span></dd>
        		<dd><a href="javascript:;">东方·欧弗洛</a><span></span></dd>
        		<dd><a href="javascript:;">爱家·爱的家</a><span></span></dd>
        	</dl>
       	  <dl>
        		<dt>诚聘英才</dt>
        		<dd><a href="javascript:;">人才理念</a><span></span></dd>
        		<dd><a href="javascript:;">最新职位</a><span></span></dd>
        		<dd><a href="javascript:;">培训与发展</a><span></span></dd>
        	</dl>
        </div>
        <div class="down">
       	<a herf="javascript:;">设为首页</a> | <a herf="javascript:;">加入收藏 </a>| <a herf="javascript:;">企业邮箱</a> | 中山市爱的华家照明发展有限公司　本站采用今科云平台网站建设技术开发　粤ICP备05043759号 <img src="images/beian.png" width="16" height="16" alt=""/> 粤公网安备44200002005142号 </div>
    </div>
</footer>

</body>
</html>

<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/my.js"></script>

